:root {
    --body-bg-color: #07060C;
    --nav-bg-color: #000000;
    --text-normal-color: #FFFF;
    --text-yellow: #FFBC4F;
    --font-size-title: 2.5rem;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
}

strong {
    font-weight: 700;
}


.header {
    background-color: var(--nav-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-logo-image {
    width: 14rem;
    height: 5.74rem;
    margin-right: 0.9rem;
    animation: go-back 1.5s;
}

.navigation-list {
    display: flex;
}

.navigation-list-item {
    margin-right: 2.3rem;
}

.navigation-link {
    color: var(--text-normal-color);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}


.navigation-link:hover {
    color: var(--text-yellow);
}

.main {
    margin-top: 7.25rem;
    margin-right: auto;
    margin-left: auto;
    width: 75rem;
    text-align: center;
}



.main-image {
    width: 100%;
    height: 43rem;
}

.section {
    margin: 7rem auto 3.5rem auto;
}

.section-title {
    color: var(--text-normal-color);
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-title);
    text-shadow: 1px 1px 14px var(--text-yellow);
}

.paragraph, figcaption, .card-description {
    color: var(--text-normal-color);
    line-height: 1.75;

}

.about-universe-article {
    margin: 0 4rem;
    display: flex;
    align-items: center;
}

.about-universe-image {
    width: 30rem;
    height: 30rem;
    padding-right: 2.5rem;
}

.about-universe-paragraph {
    text-align: left;
}


.universe-branches-article {
    display: flex;
}

.universe-branches-figure {
    width: 50%;
}

.universe-branches-image {
    margin: 0 0.5rem;
    width: calc(100% - 1rem);
    height: 20.48825rem;
}

.subtitle-article {
    color: var(--text-normal-color);
    text-transform: uppercase;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
}

figcaption {
    padding: 0 1rem;
}


.rpg-campain-article {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}


.card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.card-image {
    width: calc(100% - 1rem);
    height: 18.48rem;
}

.card-title {
    color: var(--text-normal-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.card-link {
    text-decoration: none;
    display: inline-block;
    background-color: var(--text-yellow);
    color: var(--nav-bg-color);
    padding: 0.7rem 1.3rem;
    border-radius: 3px;
    margin: 0.9rem 0;
    font-size: 1rem;
}

.card-link:hover {
    background-color: #9B712D;
}



.sbt-icon {
    width: 3rem;
    height: 3rem;
}

.media-phrase-paragraph {
    color: var(--text-normal-color);
    font-weight: 700;
    padding: 0.8rem 0;
}

em {
    font-style: italic;
}

.media-phrase-link {
    text-decoration: none;
    color: var(--text-normal-color);
    font-size: 1.25rem;
}

.subtitle-team-section {
    color: var(--text-normal-color);
    text-transform: uppercase;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: left;
}

.creator-article {
    display: flex;
}

.text-creator-article {
    width: 50%;
}

.social-media-creator-article {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.creator-article-paragraph {
    text-align: left;
}

.cellbit-image {
    background-image: url("./images/cellbit-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 15rem;
    background-position: center;
}

.social-media-icons-list {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 2rem 2rem 0 0;
}

/*Keyframes servem para aplicar uma animação a algum elemento*/
@keyframes go-back {
    from {
      transform: translateY(-6rem);
    }
    to {
      transform: translateY(0);
    }
}


.team-columns {
    display: flex;
    text-align: left;
}

.art-team {
    width: 100%;
}

.other-teams {
    width: 100%;
}

.subtitle-team-function {
    color: var(--text-normal-color);
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

.team-member-item {
    padding: 0.5rem 0;
}

.team-member-link {
    text-decoration: none;
    color: #bbbb;
}

.instagram-logo-members, .twitter-logo-members {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.subscribe-article {
    display: flex;
}

.subscribe-text-div {
    width: 100%;
    text-align: left;
}

.subscribe-email-form {
    width: 100%;
    text-align: left;
}

.title-subscribe-section {
    text-align: left;
    margin-bottom: 0.9rem;
}

.email-field-input {
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.8rem;
    border: solid 1px #bbbb;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--text-normal-color);
}

.email-field-input:focus {
    font-weight: 400;
}

.checkbox-input {
    margin: 1rem 0;
}

.checkbox-label {
    color: #bbbb;
}


.email-submit-button {
    display: block;
    width: 100%;
    background-color: #FFBC4F;
    height: 2.8rem;
    border: 0;
    padding: 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.email-submit-button:hover {
    background-color: #9B712D;
    cursor: pointer;
}

.figure-footer-image {
    width: 14rem;
    height: 5.74rem;
}


footer {
    display: flex;
    margin-top: 7.25rem;
    margin-right: auto;
    margin-left: auto;
    width: 75rem;
    text-align: center;
    padding: 1rem;
}

.figure-footer {
    width: 100%;

}

.paragraph-footer {
    margin-top: 1.1rem;
}

.footer-social-media-list {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-icon-image {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0rem 2.5rem 0 0;
}
